.container {
  padding: clamp(5px, 2vh, 32px) 16px;
}

.container h2 {
  padding-bottom: clamp(8px, 1.8vh, 24px);
}

.innerContainer {
  max-width: 1366px;
  margin: 0 auto;
  display: flex; 
  overflow-y: scroll;
  gap: 9px
}

